<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DB Trading Site</title>
</head>
<body>
{% if extra=="5.0" %}
<h5>Today's item! 5.0% additional discount!</h5>
{% endif %}
<table border="1">
        <thead>
            <th>code</th>
            <th>name</th>
            <th>price</th>
            <th>stock</th>
            <th>seller</th>
        </thead>
        <tbody>
            <tr>
                <td>{{ item_info[0] }}</td>
                <td>{{ item_info[1] }}</td>
                <td>{{ item_info[2] }}</td>
                <td>{{ item_info[3] }}</td>
                <td>{{ item_info[4] }}</td>
            </tr>
        </tbody>
</table>
Your balance : {{user_info[1]}}<br>
Your rating : {{user_info[2]}}<br><br>

<form action="/confirm" method="post">
    <label for="num">How many?</label>
    <input id="num" type="text" name="num" value=""><br>
    <input type="submit" name="buy" value="buy">
    <input type="hidden" name="buyer" value="{{user_info[0]}}">
    <input type="hidden" name="code" value={{item_info[0]}}>
    <input type="hidden" name="name" value={{item_info[1]}}>
    <input type="hidden" name="price" value={{item_info[2]}}>
    <input type="hidden" name="stock" value={{item_info[3]}}>
    <input type="hidden" name="seller" value={{item_info[4]}}>
    <input type="hidden" name="extra" value={{extra}}>
</form>

<form action="/return_home" method="post">
    <input type="submit" name="send" value="cancel">
    <input type="hidden" name="user_id" value={{user_info[0]}}>
</form>

</body>
</html>